html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover, a:focus {
    color: #005580;
    text-decoration: underline;
}

/* stats */
#fps, #ms {
    background: transparent !important;
}

#fpsText, #msText {
    color: #aaa !important;
}

#fpsGraph, #msGraph {
    display: none;
}

.transparent {
    background-color: transparent;
}

textarea.form-control {
    height: 100%;
}

.beige {
    background-color: #ACA39C;
}

.posLeft {
    position:absolute;
    left:1%;
    top:1%;
}

.posRight {
    position:absolute;
    right:1%;
    top:1%;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
    .posRight{ display: none; }
}
