html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Monospace;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover, a:focus {
    color: #005580;
    text-decoration: underline;
}

/* stats */
#fps, #ms {
    background: transparent !important;
}

#fpsText, #msText {
    color: #aaa !important;
}

#fpsGraph, #msGraph {
    display: none;
}